.slides {
    position: relative;
    width: 80%;
    max-width: 1024px;
    height: 400px;
  }

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}

.slides .slick-prev {
  left: 5%;
}

.slides .slick-next {
  right: 5%;
}